// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.table-bordered {
  margin-top: 40px;
}

.text-center.status {
  padding: 20px;
  font-size: 2em;
  background-color: coral;
}
